<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

use Resursbank\Partpayment\Block\Frontend\Product;
use Magento\Framework\Escaper;

/**
 * @var Product $block
 * @var Escaper $escaper
 */
?>
<div id="resursbank-pp"
     data-bind="scope: 'part-payment'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "#resursbank-pp": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "part-payment": {
                        "component": "Resursbank_Partpayment/js/view/catalog/product/deprecated",
                        "duration": <?= $escaper->escapeHtml($block->getDuration()) ?>,
                        "formKey": "<?= $escaper->escapeHtml($block->getFormKey()) ?>",
                        "productType": "<?= $escaper->escapeHtml($block->getProductType()) ?>",
                        "factor": <?= $escaper->escapeHtml($block->getFactor()) ?>,
                        "suggestedPrice":
                            <?= $escaper->escapeHtml($block->getSuggestedPrice($block->getPrice())) ?>
                    }
                }
            }
        }
    }
</script>
