<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

use Magento\Framework\Escaper;
use Resursbank\Partpayment\Block\Frontend\Product;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

/**
 * @var Product $block
 * @var Escaper $escaper
 * @var SecureHtmlRenderer $secureRenderer
 */
?>
<style>
<?=
    /* @noEscape */
    $block->ecomWidget?->css ?? ''
?>
<?=
    /* @noEscape */
    $block->ecomRmWidget?->css ?? ''
?>
</style>
<script>
<?php // Resolving using JS seems impossible without needlessly complex code. ?>
const RB_PP_PRODUCT_TYPE = '<?= $escaper->escapeHtml($block->getProductType()) ?>';
<?=
    /* @noEscape */
    $block->ecomWidget?->js ?? ''
?>
<?=
    /* @noEscape */
    $block->ecomRmWidget?->js ?? ''
?>
<?=
    /* @noEscape */
    $block->ecomReadMoreJsWidget?->content ?? ''
?>
</script>
<?php // Avoid escaping to ensure logo SVG is rendered correctly, escaper will
      // delete SVG tag attributes. ?>
<?=
    /* @noEscape */
    $block->ecomWidget?->content ?? ''
?>
