<?php
declare(strict_types=1);

/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

use Magento\Framework\Escaper;
use Resursbank\Partpayment\Block\Adminhtml\System\Config\Info;

/** @var Info $block */
/** @var Escaper $escaper */

if (isset($block)) {
    $method = $block->getMethodModel();
}
?>
<?php
// Cannot use isset($method) here. There is a script that must fetch and update
// the <divs> inside this if-block, so they must be rendered even if $method is
// null.
?>
<?php if (isset($escaper, $block)): ?>
    <div id="resursbank_partpayment_max_price"
         style="margin-bottom: 10px;">
        <?= $escaper->escapeHtml(isset($method) ? $block->getOrderMaxTotal($method) : '') ?>
    </div>
    <div id="resursbank_partpayment_min_price">
        <?= $escaper->escapeHtml(isset($method) ? $block->getOrderMinTotal($method) : '') ?>
    </div>
<?php endif; ?>
